<div class="education-list">
{% for item in site.data.academic.education %}
  <article class="education-item">
    <span class="institution-mark" aria-hidden="true">{{ item.mark }}</span>
    <div><div class="entry-heading"><h3><a href="{{ item.url }}">{{ item.institution }}</a></h3><span class="entry-date">{{ item.dates }}</span></div>
    <p>{{ item.degree }}</p>{% if item.status %}<p class="entry-meta">{{ item.status }}</p>{% endif %}{% if item.location %}<p class="entry-meta">{{ item.location }}</p>{% endif %}</div>
  </article>
{% endfor %}
</div>
